.title {
  text-align: center;
  font-size: 100px;
}

.undone {
  font-size: 50px;
  color: red;
}

.done {
  font-size: 50px;
  color: green;
}

.list {
  width: 10000px;
  height: auto;
  align-items: center;
  text-align: center;
  border: solid 2px #eee;
  border-radius: 9px;
}

.list:hover {
  background-color: #eee;
}
